.navbar {
  padding-left: 2;
  padding-right: 2;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  opacity: 0.5;
  transition: opacity 0.3s;
}

@media only screen and (max-width: 768px) {
  .navbar {
    opacity: 0.5;
  }
  .navbar:hover {
    background: #1a1a1a;
  }
}

.navbar:hover {
  opacity: 1;
}

.nav-item {
  transition: color 0.2s;
  text-shadow: #b4a07c 1px 0 10px;
}

.nav-item:hover {
  color: #b4a07c;
}

h2,
p {
  text-shadow: #020202 1px 0 10px;
}
