.glow {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #544a39, 0 0 30px #544a39,
      0 0 40px #b4a07c, 0 0 50px #b4a07c, 0 0 60px #544a39, 0 0 70px #544a39;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #b4a07c, 0 0 40px #b4a07c,
      0 0 50px #544a39, 0 0 60px #544a39, 0 0 70px #b4a07c, 0 0 80px #b4a07c;
  }
}

@media only screen and (max-width: 768px) {
  .glow {
    font-size: 2rem;
    margin-top: -1rem;
    animation: none;
    text-shadow: #b4a07c 1px 0 10px;
  }
}
